<!--suppress CssRedundantUnit -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/layout}">

<div layout:fragment="content" sec:authorize="hasRole('ROLE_ADMIN')">
    <main id="main">
        <nav class="navbar bg-light justify-content-center">
            <div class="btn-group filters" id="filters" role="group" aria-label="Basic outlined example">
                <!--첫번째 버튼과 마지막버튼의 style을 건드리지 말것 : 부트스트랩 속성으로 인해 테두리 끝의 radius가 값이 있음.-->
                <button style="border-radius: 0em;" class="btn btn-outline-success me-2" type="button">
                    <a data-filter="*">모두</a>
                </button>
                <button class="btn btn-outline-success me-2" type="button">
                    <a data-filter=".a, .b">상의</a>
                </button>
                <button class="btn btn-outline-success me-2" type="button">
                    <a data-filter=".c, .d">하의</a>
                </button>
                <button style="border-radius: 0em;" class="btn btn-outline-success me-2" type="button">
                    <a data-filter=".e, .f">치마</a>
                </button>
            </div>
        </nav>
    </main>
    
    <div class="input-group container-xxl">
        <input style="border: 1px solid #b5cdf7" class="form-control me-2" type="search" placeholder="Search"
               aria-label="Search" name="searchKeyword" id="searchKeyword" th:value="${keyword}">
        <label for="searchOption"></label>
        <select style="width: 10%" class="form-select form-select-sm" name="searchOption" id="searchOption">
            <option value="all" th:selected="${option eq 'all'}">전체 찾기</option>
            <option value="code" th:selected="${option eq 'code'}">코드로 찾기</option>
            <option value="name" th:selected="${option eq 'name'}">상품이름으로 찾기</option>
            <option value="kind" th:selected="${option eq 'kind'}">분류로 찾기</option>
        </select>
        <button class="btn btn-outline-success" type="submit" id="button_search" style="border-radius: 0em">검색</button>
    </div>
    
    <form th:action="@{/management/allitem}" method="get" id="searchForm">
        <input type="hidden" id="page" name="page" th:value="${itemPaging.number}">
        <input type="hidden" id="keyword" name="keyword" th:value="${keyword}">
        <input type="hidden" id="option" name="option" th:value="${option}">
    </form>
    
    <script>
        $(function () {
            const searchKeyword = $('#searchKeyword');
            const searchOption = $('#searchOption');
            const searchForm = $('#searchForm');
            const buttonSearch = $('#button_search');

            buttonSearch.on('click', function () {
                $('#keyword').val(searchKeyword.val());
                $('#option').val(searchOption.val());
                $('#page').val(0);
                searchForm.submit();
            });

            searchKeyword.add(searchOption).on('keydown', function (event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    buttonSearch.click();
                }
            });
        });
    </script>
    
    <table class="table table-hover container-xxl">
        <thead>
        <tr class="table-info">
            <td>상품분류</td>
            <th scope="row">상품코드</th>
            <td>상품이름</td>
            <td>최소사이즈</td>
            <td>최대사이즈</td>
            <td>상품재고</td>
            <td>판매여부</td>
        </tr>
        </thead>
        
        <tbody>
        <tr th:each="item, i : ${itemPaging}"
            class="table-light" data-bs-toggle="modal" th:attr="data-bs-target='#itemDetail_' + ${item.getCode()}">
            <th th:text="${item.getKind()}" scope="row">상품분류</th>
            <th th:text="${item.getCode()}" scope="row">상품코드</th>
            <th th:text="${item.getName()}" scope="row">상품이름</th>
            <th th:text="${item.getSizeSt()}" scope="row">상품최소사이즈</th>
            <th th:text="${item.getSizeEt()}" scope="row">상품최대사이즈</th>
            <th th:text="${item.getQuantity()}" scope="row">상품재고</th>
            <th th:text="${item.getUseyn()}" scope="row">판매여부</th>
        </tr>
        </tbody>
    </table>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-outline-success" id="button_item_new" data-bs-toggle="modal"
                data-bs-target="#newItemBox">상품추가
        </button>
    </div>
    <br>
    <div th:if="${!itemPaging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li th:classappend="${!itemPaging.hasPrevious()} ? 'disabled'" class="page-item">
                <a class="page-link" href="javascript:void(0)"
                   th:data-page="${(itemPaging.number) - 1}">&laquo;</a>
            </li>
            <li th:each="page : ${#numbers.sequence(0, itemPaging.getTotalPages() - 1)}"
                th:if="${page >= itemPaging.number - 10 and page <= itemPaging.number + 10}"
                th:classappend="${page == itemPaging.number} ? 'active'"
                class="page-item">
                <a th:text="${page + 1}" href="javascript:void(0)" th:data-page="${page}"
                   class="page-link"></a>
            </li>
            <li th:classappend="${!itemPaging.hasNext()} ? 'disabled'" class="page-item">
                <a class="page-link" href="javascript:void(0)"
                   th:data-page="${(itemPaging.number) + 1}">&raquo;</a>
            </li>
        </ul>
    </div>
    
    <!--페이지이동을 위한 js-->
    <script type="text/javascript">
        $(function () {
            $(".page-link").on('click', function () {
                $('#page').val($(this).data('page'));
                $('#searchForm').submit();
            });
        });
    </script>
    
    <div th:each="item, i : ${itemPaging}" class="modal fade" th:id="'itemDetail_' + ${item.code}"
         tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="|${item.getCode()} 상세 정보 수정|"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/management/item/modify}" th:object="${itemForm}" id="modifyForm" method="post">
                        <!--<div th:replace="~{layout/formErrors::formErrorsFragment}"></div>-->
                        <div class="mb-3">
                            <fieldset disabled="">
                                <label for="recipient-id_view" class="col-form-label">ID(수정불가)</label>
                                <input th:name="id_view" type="text" class="form-control" id="recipient-id_view"
                                       th:value="${item.getCode()}">
                            </fieldset>
                            <input th:name="id" type="hidden" th:value="${item.getCode()}">
                            <div class="mb-3">
                                <label for="recipient-pwd" class="col-form-label">비밀번호 수정</label>
                                <label>
                                    <input th:name="pwdModify" type="text" class="form-control">
                                </label>
                                <input type="hidden" th:name="name" id="recipient-pwd" th:value="${item.getName()}">
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary" id="button_modify">수정하기</button>
                        <button type="reset" class="btn btn-warning" id="button_reset">값 되돌리기</button>
                        <button th:data-uri="@{|/management/item/delete/${item.getCode}|}"
                                type="button" class="call_delete_modal btn btn-outline-danger" id="call_delete_modal"
                                data-bs-toggle="modal" data-bs-target="#delete_modal">해당 상품 삭제
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">정말로 삭제하시겠습니까?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="alert alert-dismissible alert-danger">
                    <strong>정말로 삭제하시겠습니까?</strong> 한번 더 다시 확인 해주세요!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">돌아가기</button>
                    <button type="button" class="button_delete btn btn-danger" data-uri="">네. 삭제하겠습니다.</button>
                </div>
            </div>
        </div>
    </div>
    <!--modifyForm을 위한 js-->
    <script>
        $(function () {
            let pwd = $('#recipient-pwd');
            let pwd_modify = $('#recipient-pwdModify');

            $('#button_modify').on('click', function () {
                if (pwd_modify.length === 0) {
                    alert("비밀번호를 정확히 입력해주세요.");
                } else {
                    pwd.val(pwd_modify.val());
                    $('#modifyForm').submit();
                }
            });

            $('#button_reset').on('click', function () {
                $('#modifyForm')[0].reset();
            });

            $('.call_delete_modal').on('click', function () {
                const uri = $(this).data('uri');
                $('.button_delete').on('click', function () {
                    location.href = uri;
                });
            });
        });
    </script>
    
    <div class="modal fade modal-xl" id="newItemBox"
         tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">상품 추가</h1>
                </div>
                <div class="modal-body">
                    <form th:action="@{/management/item/new}" th:object="${mnewItemForm}" id="newItemForm"
                          method="get">
                        <!--<div th:replace="~{layout/formErrors::formErrorsFragment}"></div>-->
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="newItemName" class="col-form-label">상품 이름</label>
                                <input name="name" id="newItemName" type="text" class="form-control-lg">
                                <div class="mb-2"></div>
                                <label for="newItemKind" class="col-form-label">상품 분류</label>
                                <select name="kind" id="newItemKind" class="form-control-lg">
                                    <option value="a">반팔</option>
                                    <option value="b">긴팔</option>
                                    <option value="c">반바지</option>
                                    <option value="d">긴바지</option>
                                    <option value="e">짧은치마</option>
                                    <option value="f">긴치마</option>
                                </select>
                            
                            </div>
                            <div class="mb-3">
                                <label for="newItemContents" class="col-form-label">상품 설명</label>
                                <textarea id="newItemContents" name="contents" class="form-control" rows="4"></textarea>
                            
                            </div>
                            <div class="mb-3">
                                <label for="recipient-pwd" class="col-form-label">상품 최소 사이즈</label>
                                <label for="newItemSizeSt"></label><select name="sizeSt" id="newItemSizeSt"
                                                                           class="form-control-lg">
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                            </select>
                                <div class="mb-2"></div>
                                <label for="recipient-pwd" class="col-form-label">상품 최대 사이즈</label>
                                <label for="newItemSizeEt"></label><select name="sizeEt" id="newItemSizeEt"
                                                                           class="form-control-lg">
                                <option value="XXL">XXL</option>
                                <option value="XL">XL</option>
                                <option value="L">L</option>
                                <option value="M">M</option>
                                <option value="S">S</option>
                                <option value="XS">XS</option>
                            </select>
                            </div>
                            <div class="mb-3">
                                <label for="newItemQuantity" class="col-form-label">상품 가격</label>
                                <label for="newItemPrice"></label><input name="price" id="newItemPrice" type="number"
                                                                         class="form-control-lg">
                                <div class="mb-2"></div>
                                <label for="newItemQuantity" class="col-form-label">재고 최초 등록 수량</label>
                                <input name="quantity" id="newItemQuantity" type="number" class="form-control-lg">
                                <div class="mb-2"></div>
                                <label for="newItemUseyn" class="col-form-label">상품 최초 판매 여부</label>
                                <select name="useyn" id="newItemUseyn" class="form-control-lg">
                                    <option value="Y">Y</option>
                                    <option value="N">N</option>
                                </select>
                            </div>
                            <fieldset disabled="">
                                <label for="newItemImg" class="col-form-label">상품 이미지 추가(구현중)</label>
                                <input name="newItemImg" type="file" class="form-control" id="newItemImg">
                            </fieldset>
                            <input type="hidden" name="image" value="이미지 준비중!">
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="reset" class="btn btn-warning">리셋</button>
                        <button type="submit" class="btn btn-outline-success">상품 등록</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>