<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<!--suppress JSFileReferences -->
<script type="module">
    import {commonLink} from "/managementJS/commonAction.js";
    commonLink();
</script>
<table class="table table-hover container-xxl">
    <thead>
    <tr class="table-info">
        <td>상품분류</td>
        <th scope="row">상품코드</th>
        <td>상품이름</td>
        <td>최소사이즈</td>
        <td>최대사이즈</td>
        <td>상품재고</td>
        <td>판매여부</td>
    </tr>
    </thead>
    
    <tbody>
    <tr th:each="item, i : ${itemPaging}"
        class="table-light" data-bs-toggle="modal" th:attr="data-bs-target='#itemDetail_' + ${item.getCode()}">
        <th th:text="${item.getKind()}" scope="row">상품분류</th>
        <th th:text="${item.getCode()}" scope="row">상품코드</th>
        <th th:text="${item.getName()}" scope="row">상품이름</th>
        <th th:text="${item.getSizeSt()}" scope="row">상품최소사이즈</th>
        <th th:text="${item.getSizeEt()}" scope="row">상품최대사이즈</th>
        <th th:text="${item.getQuantity()}" scope="row">상품재고</th>
        <th th:text="${item.getUseyn()}" scope="row">판매여부</th>
    </tr>
    </tbody>
</table>
<div class="d-grid gap-2">
    <button type="submit" class="btn btn-outline-success" id="button_item_new" data-bs-toggle="modal"
            data-bs-target="#newItemBox">상품추가
    </button>
</div>
<br>
<div th:if="${!itemPaging.isEmpty()}">
    <ul class="pagination justify-content-center">
        <li th:classappend="${!itemPaging.hasPrevious()} ? 'disabled'" class="page-item">
            <a class="page-link" href="javascript:void(0)"
               th:data-page="${(itemPaging.number) - 1}">&laquo;</a>
        </li>
        <li th:each="page : ${#numbers.sequence(0, itemPaging.getTotalPages() - 1)}"
            th:if="${page >= itemPaging.number - 10 and page <= itemPaging.number + 10}"
            th:classappend="${page == itemPaging.number} ? 'active'"
            class="page-item">
            <a th:text="${page + 1}" href="javascript:void(0)" th:data-page="${page}"
               class="page-link"></a>
        </li>
        <li th:classappend="${!itemPaging.hasNext()} ? 'disabled'" class="page-item">
            <a class="page-link" href="javascript:void(0)"
               th:data-page="${(itemPaging.number) + 1}">&raquo;</a>
        </li>
    </ul>
</div>

<div th:each="item, i : ${itemPaging}" class="modal fade" th:id="'itemDetail_' + ${item.code}"
     tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="|${item.getCode()} 상세 정보 수정|"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="modifyForm" method="post">
                    <!--<div th:replace="~{layout/formErrors::formErrorsFragment}"></div>-->
                    <div class="mb-3">
                        <label for="recipient-kindSelect" class="col-form-label">상품분류</label>
                        <select th:name="kind" class="form-control" id="recipient-kindSelect">
                            <option value="A" th:selected="${item.getKind() == 'A'}">A(반팔)</option>
                            <option value="B" th:selected="${item.getKind() == 'B'}">B(긴팔)</option>
                            <option value="C" th:selected="${item.getKind() == 'C'}">C(반바지)</option>
                            <option value="D" th:selected="${item.getKind() == 'D'}">D(긴바지)</option>
                            <option value="E" th:selected="${item.getKind() == 'E'}">E(단치마)</option>
                            <option value="F" th:selected="${item.getKind() == 'F'}">F(장치마)</option>
                        </select>
                        
                        <fieldset disabled="">
                            <label for="recipient-id_view" class="col-form-label">상품코드(수정불가)</label>
                            <input th:name="code_view" type="text" class="form-control" id="recipient-id_view"
                                   th:value="${item.getCode()}">
                        </fieldset>
                        <input th:name="code_origin" type="hidden" th:value="${item.getCode()}">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name">상품 이름 수정</label>
                        <input th:name="name" th:value="${item.getName()}" class="form-control" id="recipient-name">
                        
                        <label for="recipient-price">상품 가격 수정</label>
                        <input th:name="price" th:value="${item.getPrice()}" class="form-control" id="recipient-price">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-sizeSt">최소 사이즈</label>
                        <select name="sizeSt" id="recipient-sizeSt" class="form-control-lg">
                            <option value="XS" th:selected="${item.getSizeSt() == 'XS'}">XS</option>
                            <option value="S" th:selected="${item.getSizeSt() == 'S'}">S</option>
                            <option value="M" th:selected="${item.getSizeSt() == 'M'}">M</option>
                            <option value="L" th:selected="${item.getSizeSt() == 'L'}">L</option>
                            <option value="XL" th:selected="${item.getSizeSt() == 'XL'}">XL</option>
                            <option value="XXL" th:selected="${item.getSizeSt() == 'XXL'}">XXL</option>
                        </select>
                        
                        <label for="recipient-sizeEt">최대 사이즈</label>
                        <select name="sizeEt" id="recipient-sizeEt" class="form-control-lg">
                            <option value="XS" th:selected="${item.getSizeSt() != 'XS'}">XS</option>
                            <option value="S" th:selected="${item.getSizeSt() != 'S'}">S</option>
                            <option value="M" th:selected="${item.getSizeSt() != 'M'}">M</option>
                            <option value="L" th:selected="${item.getSizeSt() != 'L'}">L</option>
                            <option value="XL" th:selected="${item.getSizeSt() != 'XL'}">XL</option>
                            <option value="XXL" th:selected="${item.getSizeSt() != 'XXL'}">XXL</option>
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="recipient-quantity">상품 수량</label>
                        <input th:name="quantity" th:value="${item.getQuantity()}" class="form-control" id="recipient-quantity">
                        
                        <label for="recipient-useyn">품절 여부 및 전시 여부</label>
                        <select name="useyn" class="form-control" id="recipient-useyn">
                            <option value="Y" th:selected="${item.getUseyn() == 'Y'}">Y</option>
                            <option value="N" th:selected="${item.getUseyn() == 'N'}">N</option>
                        </select>
                    </div>
                    
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="submit" class="btn btn-primary" id="button_modify">수정하기</button>
                    <button type="reset" class="btn btn-warning" id="button_reset">값 되돌리기</button>
                    <button th:data-id="${item.getCode}"
                            type="button" class="call_delete_modal btn btn-outline-danger"
                            id="call_delete_modal"
                            data-bs-toggle="modal" data-bs-target="#delete_modal">해당 상품 삭제
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>