<!--suppress CssRedundantUnit -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/layout}">

<div layout:fragment="content" sec:authorize="hasRole('ROLE_ADMIN')">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
    <script type="module" th:src="@{/managementJS/allitem/item_management_AjaxModel.js}"></script>
    
    <div class="input-group container-xxl">
        <input style="border: 1px solid #b5cdf7" class="form-control me-2" type="search" placeholder="Search"
               aria-label="Search" name="searchKeyword" id="searchKeyword" th:value="${keyword}">
        <label for="searchOption"></label>
        <select style="width: 10%" class="form-select form-select-sm" name="searchOption" id="searchOption">
            <option value="all" th:selected="${option eq 'all'}">전체 찾기</option>
            <option value="code" th:selected="${option eq 'code'}">코드로 찾기</option>
            <option value="name" th:selected="${option eq 'name'}">상품이름으로 찾기</option>
            <option value="kind" th:selected="${option eq 'kind'}">분류로 찾기</option>
        </select>
        <button class="btn btn-outline-success" type="submit" id="button_search" style="border-radius: 0em">검색</button>
    </div>
    
    <form method="get" id="searchForm">
        <input type="hidden" id="page" name="page" th:value="${itemPaging.number}">
        <input type="hidden" id="keyword" name="keyword" th:value="${keyword}">
        <input type="hidden" id="option" name="option" th:value="${option}">
    </form>
    
    <div id="allItemAjax">
        <!--Ajax 수신 블록-->
    </div>
    
    <div class="modal fade" id="delete_modal" tabindex="0">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">정말로 삭제하시겠습니까?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="alert alert-dismissible alert-danger">
                    <strong>정말로 삭제하시겠습니까?</strong> 한번 더 다시 확인 해주세요!
                </div>
                <div class="modal-footer">
                    <button type="button" class="button_cancel btn btn-secondary" data-bs-dismiss="modal">
                        <strong>ESC</strong> 돌아가기
                    </button>
                    <button type="button" class="button_delete btn btn-danger" data-uri="" data-bs-dismiss="modal">
                        <strong>Enter</strong> 네. 삭제하겠습니다.
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade modal-xl" id="newItemBox" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h1 class="modal-title fs-5">상품 추가</h1></div>
                <div class="modal-body">
                    <form id="newItemForm" method="post">
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="newItemKind" class="col-form-label">상품 분류</label>
                                <select name="kind" id="newItemKind" class="form-control is-valid">
                                    <option value="a">반팔</option>
                                    <option value="b">긴팔</option>
                                    <option value="c">반바지</option>
                                    <option value="d">긴바지</option>
                                    <option value="e">짧은치마</option>
                                    <option value="f">긴치마</option>
                                </select>
                                <label for="newItemName" class="col-form-label">상품 이름</label>
                                <input name="name" id="newItemName" type="text" class="form-control">
                                <div id="validationJSNameFeedback" class="invalid-feedback">상품 이름을 입력해주세요!</div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="newItemContents" class="col-form-label">상품 설명</label>
                                <textarea id="newItemContents" name="contents" class="form-control" rows="4"></textarea>
                            </div>
                            
                            <div class="mb-3">
                                <label for="newItemSizeSt" class="col-form-label">상품 최소 사이즈</label>
                                <select name="sizeSt" id="newItemSizeSt" class="form-control-sm">
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="XXL">XXL</option>
                                </select>
                                <label for="newItemSizeEt" class="col-form-label">상품 최대 사이즈</label>
                                <select name="sizeEt" id="newItemSizeEt" class="form-control-sm">
                                    <option value="XXL">XXL</option>
                                    <option value="XL">XL</option>
                                    <option value="L">L</option>
                                    <option value="M">M</option>
                                    <option value="S">S</option>
                                    <option value="XS">XS</option>
                                </select>
                                <label for="newItemProductsRecsStatus" class="col-form-label">추천 상품 등록</label>
                                <select name="prodRecsStatus" id="newItemProductsRecsStatus"
                                        class="form-control-sm">
                                    <option value="0" selected>NO</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="newItemPrice" class="col-form-label">상품 가격</label>
                                <input name="price" id="newItemPrice" type="number" class="form-control">
                                <div id="validationJSPriceFeedback" class="invalid-feedback">상품 가격을 입력해주세요!</div>
                                <div class="mb-2"><!--SPACE--></div>
                                <label for="newItemQuantity" class="col-form-label">재고 최초 등록 수량</label>
                                <input name="quantity" id="newItemQuantity" type="number" class="form-control is-valid"
                                       th:value="0">
                                <div class="mb-2"><!--SPACE--></div>
                                <label for="newItemUseyn" class="col-form-label">상품 판매 여부</label>
                                <select name="useyn" id="newItemUseyn" class="form-control is-valid">
                                    <option value="Y">Y</option>
                                    <option value="N" selected>N</option>
                                </select>
                            </div>
                            
                            <label for="newItemImg" class="col-form-label">상품 이미지 추가(구현중)</label>
                            <input name="img" type="file" class="form-control" id="newItemImg">
                        </div>
                        <button type="button" class="btn btn-secondary" id="buttonNewItemCancel"
                                data-bs-dismiss="modal">취소
                        </button>
                        <button type="reset" class="btn btn-warning">리셋</button>
                        <button type="submit" class="btn btn-outline-success" id="buttonNewItem">상품 등록</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>