<!--suppress HtmlRequiredLangAttribute, ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/layout}">

<div layout:fragment="content" sec:authorize="hasRole('ROLE_ADMIN')">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
    <div class="input-group container-xxl">
        <input style="border: 1px solid #b5cdf7" class="form-control me-2" type="search" placeholder="Search"
               aria-label="Search" name="searchKeyword" id="searchKeyword" th:value="${keyword}">
        <label for="searchOption"></label>
        <select class="form-select form-select-sm" name="searchOption" id="searchOption">
            <option value="all" th:selected="${option eq 'all'}">전체 찾기</option>
            <option value="id" th:selected="${option eq 'id'}">ID로 찾기</option>
            <option value="name" th:selected="${option eq 'name'}">이름으로 찾기</option>
            <option value="tel" th:selected="${option eq 'tel'}">연락처로 찾기</option>
            <option value="role" th:selected="${option eq 'role'}">권한으로 찾기</option>
        </select>
        <button class="btn btn-outline-success" type="submit" id="button_search" style="border-radius: 0em">검색</button>
    </div>
    
    <form method="get" id="searchForm">
        <input type="hidden" id="page" name="page" th:value="${memberPaging.number}">
        <input type="hidden" id="keyword" name="keyword" th:value="${keyword}">
        <input type="hidden" id="option" name="option" th:value="${option}">
    </form>
    
    <div id="memberAjax">
        <!--Aajx 결과값 수신 블록-->
    </div>
    
    <script type="module" th:src="@{/managementJS/member/member_management_AjaxModel.js}"></script>
    
    <div class="modal fade" id="delete_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">정말로 삭제하시겠습니까?</h5>
                    <button id="deleteModalCloseButton" type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="alert alert-dismissible alert-danger">
                    <strong>정말로 삭제하시겠습니까?</strong> 한번 더 다시 확인 해주세요!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">돌아가기</button>
                    <button type="button" class="button_delete btn btn-danger" data-bs-dismiss="modal">네. 삭제하겠습니다.</button>
                </div>
            </div>
        </div>
    </div>
</div>

