HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Qmodal ###
.vscode/
/src/main/generated/com/cloth/clothshop/Member/QMember.java
/src/main/generated/com/cloth/clothshop/Orders/QOrders.java
/src/main/generated/com/cloth/clothshop/Products/QProducts.java
/src/main/generated/com/cloth/clothshop/tb_Zipcode/Qtb_Zipcode.java
