<html xmlns:th="http://www.thymeleaf.org">
<div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="100">
    <div th:each="pItem, i : ${productsPage}"
         th:classappend="${pItem.getKind()}" class="item col-sm-6 col-md-4 col-lg-4 mb-4">
        <a href="#" class="item-wrap fancybox">
            <div class="work-info">
                <h3 th:text="${pItem.getName()}">상품 이름</h3>
                <span th:text="${pItem.getContents()}">상품 설명</span>
            </div>
            <img class="img-fluid img-thumbnail" th:src="${pItem.getImage()}">
        </a>
    </div>
</div>