<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <link rel="stylesheet" href="/bootstrap.rtl.min.css">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    
    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
<!--Vendor JS Files-->
<script id="aosjs" src="/assets/vendor/aos/aos.js"></script>
<script id="isotopejs" src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script id="bundlejs" src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script id="validatejs" src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script id="mainjs" src="/assets/js/main.js"></script>
<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>

<nav th:replace="~{layout/nav :: topnav}"></nav>

<th:block layout:fragment="content">
</th:block>
</body>
</html>