<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">

<body>
<nav id="mainNav" th:fragment="topnav" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">옷가게</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04"
                aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor04">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" class="nav-link active" th:href="@{/member/signin}">
                        로그인
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" class="nav-link active" th:href="@{/member/signup}">
                        회원가입
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="#">개인정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">장바구니</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="/member/signout">로그아웃</a>
                </li>
                <li sec:authorize ="hasRole('ROLE_ADMIN')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        관리자 메뉴
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/management/member}">회원 관리</a></li>
                        <li><a class="dropdown-item" th:href="@{/management/order}">주문 내역 관리</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" th:href="@{/management/recommended}">추천 상품 관리</a></li>
                        <li><a class="dropdown-item" th:href="@{/management/allitem}">전체 상품 관리</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <script id="bootstrapbundleJS" src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</nav>
</body>