<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <title>옷가게에 오신걸 환영합니다</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
</head>

<div layout:fragment="content">
    <nav th:replace="/layout/selectnav"></nav>
    
    <main id="main">
        <section class="section site-portfolio">
            <div class="container">
                <div class="row mb-5 align-items-center">
                    <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
                        <h2>추천 상품</h2>
                        <p class="mb-0">추천하는 상품이에요!</p>
                    </div>
                    <div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
                        <div id="filters" class="filters">
                            <!--data-filter에서 필터링 할 목록들을 추가 시킬 수 있음 js에서 자동적으로 처리-->
                            <a href="#" data-filter="*" class="active">추천</a>
                            <a href="#" data-filter=".A, .B">상의</a>
                            <a href="#" data-filter=".C, .D">하의</a>
                            <a href="#" data-filter=".E, .F">치마</a>
                        </div>
                    </div>
                </div>
                <!--각 항목에 class 안에 필터링의 이름을 넣으면 필터링 가능함. -->
                <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="100">
                        <div th:each="pItem, i : ${productsList}"
                                th:classappend="${pItem.getKind()}" class="item col-sm-6 col-md-4 col-lg-4 mb-4">
                            <a href="#" class="item-wrap fancybox">
                                <div class="work-info">
                                    <h3 th:text="${pItem.getName()}">상품 이름</h3>
                                    <span th:text="${pItem.getContents()}">상품 설명</span>
                                </div>
                                <img class="img-fluid img-thumbnail" th:src="${pItem.getImage()}">
                            </a>
                        </div>
                    </div>
                </div>
        </section>
        
        <!-- ======= Testimonials Section ======= -->
        <section class="section pt-0">
            <div class="container">
                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial">
                                    <img src="/catImg.jpg" alt="Image" class="img-fluid">
                                    <blockquote>
                                        <p>안녕하십니까. 김동철입니다.</p>
                                        <p>저의 첫 BackEnd 프로젝트 입니다.</p>
                                        <p>전체적으로 시큐리티 시스템, 서버 유효성 체크는 미숙해서 제대로 구현되지 않았습니다.</p>
                                        <p>봐주셔서 감사합니다.</p>
                                    </blockquote>
                                    <p>&mdash; KimDongChuel</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Testimonials Section -->
    
    </main><!-- End #main -->
    
    <!-- ======= Footer ======= -->
    <footer class="footer" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-1">&copy; Copyright MyPortfolio. All Rights Reserved</p>
                    <div class="credits">
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
                <div class="col-sm-6 social text-md-end">
                    <a href="#"><span class="bi bi-twitter"></span></a>
                    <a href="#"><span class="bi bi-facebook"></span></a>
                    <a href="#"><span class="bi bi-instagram"></span></a>
                    <a href="#"><span class="bi bi-linkedin"></span></a>
                </div>
            </div>
        </div>
    </footer>
    
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

</div>
</html>